<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $(function () {

        $('#<%= div_id %> #carousel').carouFredSel({
            align:false,
            items:10,
            scroll:{
                items:1,
                duration:6000,
                pauseDuration:0,
                easing:'linear',
                pauseOnHover:'immediate'
            }
        });

        $("#<%= div_id %> #carousel .movieCarouselImageClass").cluetip({mouseOutClose:true,positionBy:'mouse',local: true, sticky: true,closeText: 'Close',showTitle: false,closePosition:'bottom'});

        var $w = $(window);
        				$w.bind('resize.example', function() {
        					var nw = $w.width();
        					if (nw < 990) {
        						nw = 990;
        					}

        					$('#carousel').width(nw * 3);
        					$('#carousel').parent().width(nw);

        				}).trigger('resize.example');
    });
</script>

<div id="<%= div_id %>">
  <div id="wrapper">
    <p><%= div_id %></p>
    <div id="carousel">
      <% movies.each_with_index do |movie, i| %>
          <div class="movieCarouselImageClass" rel="#<%= div_id %>tooltipContent<%= i %>">
            <img width="120" height="178" src="<%= movie[0].posters['profile'] %>" />
          </div>

            <div id="<%= div_id %>tooltipContent<%= i %>">
              <p>
                <h3 class="text4"><%= link_to movie[0].title, edit_movie_path(movie[0]) %></h3>
              </p>

              <p>
                <%= movie[0].synopsis[0..200] unless  movie[0].synopsis.nil? %> ...
              </p>

              <p>
                <input name="<%= div_id %>estimate<%= i %>" type="radio" class="disabledstar" value="1" disabled="disabled"/>
                <input name="<%= div_id %>estimate<%= i %>" type="radio" class="disabledstar" value="2" disabled="disabled"/>
                <input name="<%= div_id %>estimate<%= i %>" type="radio" class="disabledstar" value="3" disabled="disabled"/>
                <input name="<%= div_id %>estimate<%= i %>" type="radio" class="disabledstar" value="4" disabled="disabled"/>
                <input name="<%= div_id %>estimate<%= i %>" type="radio" class="disabledstar" value="5" disabled="disabled"/>

              <script>
                  $(function () {
                      $('input[name=<%= div_id %>estimate<%= i %>].disabledstar:eq(<%= movie[1].to_i - 1 %>)').attr('checked', 'checked');
                      $('input[name=<%= div_id %>estimate<%= i %>].disabledstar').rating();
                  });
              </script>
              </p>
              <br/>
              <br/>
              <p>
              <% indicators = (movie[0]["indicators"] or {}) %>
                    <% couple_chemistry = (indicators["couple_chemistry"] or {}) %>
                    <% he_handsome = (indicators["he_handsome"] or {}) %>
                    <% she_handsome = (indicators["she_handsome"] or {}) %>
                    <% dream_place = (indicators["dream_place"] or {}) %>
                    <% tear_rate = (indicators["tear_rate"] or {}) %>
                    <% happy_ending = (indicators["happy_ending"] or {}) %>
                    <% fun_factor = (indicators["fun_factor"] or {}) %>
                    <% real_life_likely = (indicators["real_life_likely"] or {}) %>
                    <% sex_scenes = (indicators["sex_scenes"] or {}) %>

                    <%
                       couple_chemistry_total = (couple_chemistry["total"] or "-")
                       he_handsome_total = (he_handsome["total"] or "-")
                       she_handsome_total = (she_handsome["total"] or "-")
                       dream_place_total = (dream_place["total"] or "-")
                       tear_rate_total = (tear_rate["total"] or "-")
                       happy_ending_total = (happy_ending["total"] or "-")
                       fun_factor_total = (fun_factor["total"] or "-")
                       real_life_likely_total = (real_life_likely["total"] or "-")
                       sex_scenes_total = (sex_scenes["total"] or "-")

                       couple_chemistry_reviewers = couple_chemistry["reviewers"].nil? ? "0" : couple_chemistry["reviewers"].size
                       he_handsome_reviewers = he_handsome["reviewers"].nil? ? "0" : he_handsome["reviewers"].size
                       she_handsome_reviewers = she_handsome["reviewers"].nil? ? "0" : she_handsome["reviewers"].size
                       dream_place_reviewers = dream_place["reviewers"].nil? ? "0" : dream_place["reviewers"].size
                       tear_rate_reviewers = tear_rate["reviewers"].nil? ? "0" : tear_rate["reviewers"].size
                       happy_ending_reviewers = happy_ending["reviewers"].nil? ? "0" : happy_ending["reviewers"].size
                       fun_factor_reviewers = fun_factor["reviewers"].nil? ? "0" : fun_factor["reviewers"].size
                       real_life_likely_reviewers = real_life_likely["reviewers"].nil? ? "0" : real_life_likely["reviewers"].size
                       sex_scenes_reviewers = sex_scenes["reviewers"].nil? ? "0" : sex_scenes["reviewers"].size
                    %>
                    Couple Chemistry: <%= couple_chemistry_total %> (<%= couple_chemistry_reviewers %> Reviewers)<br/>
                    He handsome: <%= he_handsome_total %> (<%= he_handsome_reviewers %> Reviewers) <br/>
                    She handsome: <%= she_handsome_total %> (<%= she_handsome_reviewers %> Reviewers) <br/>
                    Place: <%= dream_place_total %> (<%= dream_place_reviewers %> Reviewers)  <br/>
                    Cry factor: <%= tear_rate_total %> (<%= tear_rate_reviewers %> Reviewers)<br/>
                    Good ending: <%= happy_ending_total %> (<%= happy_ending_reviewers %> Reviewers)    <br/>
                    Fun factor: <%= fun_factor_total %> (<%= fun_factor_reviewers %> Reviewers) <br/>
                    Real life: <%= real_life_likely_total %> (<%= real_life_likely_reviewers %> Reviewers)   <br/>
                    Sex scenes: <%= sex_scenes_total %> (<%= sex_scenes_reviewers %> Reviewers)
                  </p>
          </div>
      <% end %>
    </div>
  </div>
</div>