<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $(function () {

        $('#movieListDiv #carousel').carouFredSel({
            align:false,
            items:10,
            scroll:{
                items:1,
                duration:5000,
                pauseDuration:0,
                easing:'linear',
                pauseOnHover:'immediate'
            }
        });

        $("#movieListDiv #carousel .movieCarouselImageClass").cluetip({mouseOutClose:true,positionBy:'mouse',local: true, sticky: true,closeText: 'Close',showTitle: false,closePosition:'bottom'});

    });
</script>


<div id="movieListDiv">
  <div id="wrapper">
    <p>Movies by title</p>

    <div id="carousel">
      <% @movie_list.each_with_index do |movie,i| %>
          <div class="movieCarouselImageClass" rel="#listTooltipContent<%= i %>">
            <img width="120" height="178" src="<%= movie.posters['profile'] %>"/>
          </div>

          <div id="listTooltipContent<%= i %>">
            <p>
              <h3 class="text4"><%= link_to movie.title, edit_movie_path(movie) %></h3>
            </p>

            <p>
              <%= movie.synopsis[0..200] unless  movie.synopsis.nil? %>
            </p>

        </div>
      <% end %>
    </div>
  </div>
</div>