<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $(function () {

        $('#recommendationsDiv #carousel').carouFredSel({
            align:false,
            items:4,
            scroll:{
                items:1,
                duration:5000,
                pauseDuration:0,
                easing:'linear',
                pauseOnHover:'immediate'
            }
        });

        $("#recommendationsDiv #carousel .movieCarouselImageClass").cluetip({mouseOutClose:true,positionBy:'mouse',local: true, sticky: true,closeText: 'Close',showTitle: false,closePosition:'bottom'});

    });
</script>

<div id="recommendationsDiv">
  <div id="wrapper">
    <p>Recommendations</p>
    <div id="carousel">
      <% @recommended_movies.each_with_index do |movie, i| %>
          <div class="movieCarouselImageClass" rel="#tooltipContent<%= i %>">
            <img width="120" height="178" src="<%= movie[0].posters['profile'] %>" />
          </div>

            <div id="tooltipContent<%= i %>">
              <p>
                <h3 class="text4"><%= link_to movie[0].title, edit_movie_path(movie[0]) %></h3>
              </p>

              <p>
                <%= movie[0].synopsis[0..200] unless  movie[0].synopsis.nil? %>
              </p>

              <p>
                <input name="estimate<%= i %>" type="radio" class="disabledstar" value="1" disabled="disabled"/>
                <input name="estimate<%= i %>" type="radio" class="disabledstar" value="2" disabled="disabled"/>
                <input name="estimate<%= i %>" type="radio" class="disabledstar" value="3" disabled="disabled"/>
                <input name="estimate<%= i %>" type="radio" class="disabledstar" value="4" disabled="disabled"/>
                <input name="estimate<%= i %>" type="radio" class="disabledstar" value="5" disabled="disabled"/>

              <script>
                  $(function () {
                      $('input[name=estimate<%= i %>].disabledstar:eq(<%= movie[1].to_i - 1 %>)').attr('checked', 'checked');
                      $('input[name=estimate<%= i %>].disabledstar').rating();
                  });
              </script>
              </p>
          </div>
      <% end %>
    </div>
  </div>
</div>