<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>
    <% if @movie %>
        <%= @movie.title %>
    <% else %>
        Lovelyromcoms
    <% end %>
  </title>

  <% if @movie %>
      <meta property="og:title" content="<%= @movie.title %>"/>
      <meta property="og:type" content="movie"/>
      <meta property="og:url" content="<%= edit_movie_url @movie %>"/>
      <meta property="og:image" content="<%= @movie.posters['profile'] %>"/>
      <meta property="og:site_name" content="Lovelyromcoms"/>
      <meta property="fb:app_id" content="158663780919239"/>
      <meta property="og:description"
            content="<%= @movie.synopsis %>"/>
  <% end %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery", "jquery-ui-1.8.17.custom.min", "jquery.autocomplete", "jquery.rating", "behaviours" %>

</head>
<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '158663780919239', // App ID
            channelUrl : '//WWW.LOVELYROMCOMS.CO.UK/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function(d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
<SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.co.uk/widgets/q?ServiceVersion=20070822&MarketPlace=GB&ID=V20070822/GB/lovelyromcoms-21/8005/75447c81-7b1d-457a-8d79-17e5a1abea3f"> </SCRIPT> <NOSCRIPT><A HREF="http://ws.amazon.co.uk/widgets/q?ServiceVersion=20070822&MarketPlace=GB&ID=V20070822%2FGB%2Flovelyromcoms-21%2F8005%2F75447c81-7b1d-457a-8d79-17e5a1abea3f&Operation=NoScript">Amazon.co.uk Widgets</A></NOSCRIPT>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr valign="top">
          <td width="746" style=""><img src="/images/homepage03.jpg" alt="" width="746" height="70"></td>
          <td width="278" class="bg2">
            <form name="form1" method="post" action="">
              <table width="240" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><img src="images/spacer.gif" alt="" width="10" height="25"></td>
                  <td>
                    <nav>
                      <% if user_signed_in? %>
                          Signed in as <%= current_user.email %>
                          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                      <% else %>
                          <%= link_to "Sign in", new_user_session_path %>
                          <%= link_to "Sign up", new_user_registration_path %>
                      <% end %>
                      <%= admins_only do %>
                          <%= link_to "Movie Edition", admin_movies_path %>
                      <% end %>
                    </nav>
                  </td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><img src="images/spacer.gif" alt="" width="48" height="20"></td>
                  <td><input type="text" id="search" width="400px"/></td>
                  <td><img src="images/spacer.gif" alt="" width="10" height="20"></td>
                  <td><input name="inputsubmit1" type="submit" id="inputsubmit1" value="Search"/></td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
      </table>
      <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" class="bg3" style="height: 30px;">
        <tr align="center">
          <td width="93"><%= link_to "Home", root_path, :class=>"link1" %></td>
          <td width="93"><a href="#" class="link1">DVDs </a></td>
          <td width="93"><a href="#" class="link1">Upcoming</a></td>
          <td width="93"><a href="#" class="link1">Cinemas</a></td>
          <td width="93"><a href="#" class="link1">Articles</a></td>
          <td width="93"><a href="#" class="link1">About us </a></td>
          <td width="93"><a href="#" class="link1">Contact us </a></td>
          <td width="34">&nbsp;</td>
        </tr>
      </table>
      <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" class="bg5">
        <tr>
          <td>
            <p class="notice"><%= notice %></p>

            <p class="alert"><%= alert %></p>
          </td>
        </tr>
      </table>
      <%= yield %>
      <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" class="bg12">
        <tr>
          <td style="padding-left: 21px;">&nbsp;</td>
          <td style="padding-right: 21px;">&nbsp;</td>
        </tr>
        <tr>
          <td class="style1" style="padding-left: 21px;">Copyright © 2011 lovelyromcoms.com. All rights reserved.</td>
          <td align="right" class="style1" style="padding-right: 21px;"><a href="#">Terms of Use</a> |
            <a href="#">Privacy</a>
            | <a href="#">Legal Information</a></td>
        </tr>
        <tr>
          <td height="15" style="padding-left: 21px;">&nbsp;</td>
          <td style="padding-right: 21px;"><img src="images/spacer.gif" alt="" width="100" height="40"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
<script>
    $("#search").autocomplete({
        url: '<%= search_movies_path %>',
        showResult: function(value, data) {
            valueAndUrl = value.split(":::")
            return '<img src="' + valueAndUrl[1] + '" height="42" width="42"/><span style="color:#000000;background-color: gray; border-style: dotted">' + valueAndUrl[0] + '</span>';
        },
        onItemSelect: function(item) {
            valueAndUrl = item.value.split(":::");
            document.location.href = '/movies/' + valueAndUrl[2] + '/edit'
        },
        displayValue:function(value, data) {
            return value.split(":::")[0];
        },
        mustMatch: false,
        maxItemsToShow: 10,
        selectFirst: false,
        autoFill: true,
        selectOnly: true,
        remoteDataType: 'json'
    });
</script>
</html>
